backoff==2.2.1
beautifulsoup4==4.12.3
hypothesis==6.98.10
lxml==5.1.0
mypy==1.8.0
numpy==1.26.4
polars==0.20.10
pytest==8.0.2
pywikibot==8.6.0
rdflib===7.0.0
requests==2.31.0
ruff==0.2.2
s3fs==2024.2.0
tqdm==4.66.2
wikitextparser==0.55.8
