name: Apple TV ETL

on:
  schedule:
    - cron: "0 16 * * 1"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  run:
    runs-on: ubuntu-24.04
    concurrency: appletv_${{ matrix.type }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - type: "movie"
          - type: "show"

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6

      - name: Install dependencies
        run: uv sync

      - name: Download from S3
        run: |
          aws s3 cp --region us-east-1 --no-sign-request "s3://wikidatabots/appletv/${TYPE}.parquet" "appletv.parquet"
        env:
          TYPE: ${{ matrix.type }}

      - name: Run script
        run: |
          uv run appletv_etl.py "$TYPE"
        env:
          TYPE: ${{ matrix.type }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        if: github.ref == 'refs/heads/main'
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: us-east-1

      - name: Upload to S3
        if: github.ref == 'refs/heads/main'
        run: |
          aws s3 cp --acl public-read "appletv.parquet" "s3://wikidatabots/appletv/${TYPE}.parquet"
        env:
          TYPE: ${{ matrix.type }}
