name: Lint

on: push

jobs:
  ruff:
    runs-on: ubuntu-slim

    env:
      RUFF_OUTPUT_FORMAT: github

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0

      - name: Install dependencies
        run: uv sync

      - name: Ruff Formatter
        run: uv run ruff format --diff .

      - name: Ruff Linter
        run: uv run ruff check .

  mypy:
    runs-on: ubuntu-slim

    strategy:
      matrix:
        uv_resolution: ["highest", "lowest-direct"]

    env:
      UV_RESOLUTION: ${{ matrix.uv_resolution }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0

      - name: Install dependencies
        run: uv sync

      - name: mypy
        run: uv run mypy .
